.header {
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.max-center{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 15px;

  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.movie-cover{
  width: 100%;
}

.movie-placeholder {
  background-color: black;
  height: 350px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  min-height: 600px;
  min-width: 1440px;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items:flex-end;
}

.hero-content{
    max-width: 70%;
    padding-bottom: 60px;
    color: white;
}

.hero-title {
  font-size: 72px;
  margin: 0;
}

.button {
  background-color: red;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
}