img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.main {
    border: 5px solid black;
    height: 50vh;
    display: grid;
    place-items: center;
}

#day, #time, #track {
    font-size:xx-large;
}

#repo {
    background-color: aqua;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}